@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    margin: 0;
    padding: 0;
}

/*--------------------------------------------Icons */

.bg-image .bg-image-anchor .icon {
    font-size: 12px;
    padding-left: 5px;
}

/*--------------------------------------------NavBar */

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 5px 40px;
    box-sizing: border-box;
    background: #00000080;
}

nav .logo {
    padding: 22px 36px 22px 0;
    height: 80px;
    float: left;
    font-family: "Exo", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.navbar-elements {
    width: 30%;
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition-duration: 0.4s;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: #0000004d;
    opacity: 0.6;
}

nav .signup-btn {
    height: 32px;
    padding: 0;
    background-color: inherit;
    margin-top: 18px;
    background-color: none;
    color: #fff;
    float: right;
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
    font-weight: 600;
    transition-duration: 0.4s;
    border-style: none;
}

nav .signup-btn:hover {
    color: #fff;
    opacity: 0.6;
    background-color: inherit;
}

/*--------------------------------------------INDEX.html Hero Image */

.bg-image {
    width: 100%;
    height: 100vh;
    background: url("../images/pexels-bgimg.jpg");
    background-size: cover;
    background-position: center;
}

/*--- bg image upper paragraph */

.bg-image-text-upper {
    text-align: center;
    padding-top: 120px;
}

.bg-image-text-upper p {
    color: #bababa;
    margin-bottom: 12px;
    text-transform: capitalize;
    font-family: "Exo", sans-serif;
    font-weight: 600;
}

/*--- bg image heading */

.bg-image-heading {
    text-align: center;
    padding-top: 10px;
}

.bg-image-heading h2 {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 5px;
    letter-spacing: 3px;
    color: #fff;
}

/*--------------------------------------------CONTACT.html Hero Image */

.contact-bg-image {
    width: 100%;
    height: 100vh;
    background: url("../images/pexels-contactbgimg.jpg");
    background-size: cover;
    background-position: center;
}

/*--------------------------------------------CONTACT.HTML Hero Image text */

.contact-bg-image-heading {
    text-align: center;
    padding-top: 110px;
}

.contact-bg-image-heading h2 {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 5px;
    letter-spacing: 3px;
    color: #fff;
}

.contact-bg-image-parapgraph-upper {
    text-align: center;
    padding-top: 30px;
}

.contact-bg-image-parapgraph-upper p {
    color: #fff;
    margin-bottom: 2px;
    text-transform: capitalize;
    font-family: "Exo", sans-serif;
    font-weight: 600;
}

.contact-bg-image-parapgraph-lower {
    text-align: center;
    padding-top: 20px;
}

.contact-bg-image-parapgraph-lower p {
    color: #fff;
    margin-bottom: 2px;
    text-transform: lowercase;
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

/*--------------------------------------------CONTACT.html Form Element */

.form-section {
    padding: 32px 0 32px 0;
}

.form {
    width: 45%;
    margin: auto;
    padding: 32px;
    border: 1.5px solid #000000;
    border-radius: 12px;
}

.form label {
    font-family: "Exo", sans-serif;
    font-weight: 600;
}

#countryForm {
    padding-right: 12px;
}

#termsAndConditions {
    font-weight: 500;
    font-size: smaller;
}

#btn {
    text-align: center;
}

/*--- bg image "Request Delivery" */

.bg-image-anchor {
    text-align: center;
    padding-top: 30px;
}

.bg-image-anchor-text {
    padding: 7px 11px;
    text-decoration: none;
    color: #fff;
    font-family: "Exo", sans-serif;
    font-size: 15px;
    border: 1.5px solid #fff;
    border-radius: 10px;
    word-spacing: 2px;
    transition-duration: 0.4s;
}

.bg-image-anchor-text:hover {
    color: #fff;
    opacity: 0.6;
}



/*--------------------------------------------Our Locations Section */

.location-heading-main {
    text-align: center;
    font-family: "Exo", sans-serif;
    word-spacing: 0.3em;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 20px 0 50px 0;
}

.location-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

/*--- Transition */

#warsaw {
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    max-width: 100%;
}

#warsaw:hover {
    transform: scale(1.1);
    width: 100%;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

#hongkong {
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    max-width: 100%;
}

#hongkong:hover {
    transform: scale(1.1);
    width: 100%;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

#singapore {
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    max-width: 100%;
}

#singapore:hover {
    transform: scale(1.1);
    width: 100%;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

/*--- Headings */

.location-headings {
    width: 100%;
    text-align: center;
    font-family: "Exo", sans-serif;
    letter-spacing: 1.5px;
    margin: 12px 0 16px 0;
}

.location-parapgraph {
    width: 100%;
    text-align: center;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.7px;
    margin-bottom: 54px;
}

/*--------------------------------------------Footer */

footer {
    background-color: #000000;
    color: #ffffff;
    min-height: 120px;
    margin: 0;
    padding-bottom: 18px;
}

.general-sub {
    margin: 16px 0 12px 12px;
    font-family: "Exo", sans-serif;
    font-weight: 600;
    border-bottom: 1.2px solid #fff;
}

footer .footer-cities {
    margin-left: 12px;
    font-family: "Exo", sans-serif;
    font-size: 14px;
}

footer .footer-contact-details {
    margin-left: 12px;
    font-family: "Exo", sans-serif;
    font-size: 14px;
}

/*--- Social Links */

footer .social-links {
    margin: 16px 12px 12px 0;
    float: right;
}

footer .social-links i {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

 footer #footer-language {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 16px;
}

/*--------------------------------------------Media Queries */

@media (max-width: 767px) {
    .logo {
        display: none;
    }

    .signup-btn {
        display: none;
    }
    nav {
        margin: 0;
        padding: 4px;
    }
    nav ul li a {
        min-height: 100vh;
        height: auto;
        padding: 4px;
        margin: 6px;
    }
}